body{background: #fff !important;}
#shopcarWeb{margin-top: 20px;margin-bottom: 60px;}
.shopcarnav{height: 33px;}
.shopcarnav li{height: 18px;font-weight: 700;font-size: 16px;float: left;padding: 0 10px;border-right: 1px solid #ccc;
display: flex;justify-content: center;align-items: center;}
.shopcarnav li:nth-child(1){color: #f40}
.shopcarnav li span{color: #f40;padding: 0 30px 0 8px;font-weight: normal;font-size: 14px;line-height: 18px;}
.shopcarnav li:nth-child(3) span{border: none;}
.shopcarnav ul {overflow: hidden;height: 30px;margin-bottom: 5px;}
.goods_price_div{float: right;font-size: 12px;display: flex;height: 30px;
justify-content: center;align-items: center;}
.goods_price_div .goods_price_all{color: #f40;font-weight: 600;}
.goods_price_div p span:last-child{color: #eee;padding: 5px 16px;background: #999;

    border-radius: 3px;margin-left: 15px;}
 .div_hr{height: 3px; background: #ccc;}
 .div_hr   .div_hr_min{height: 3px;width: 130px;background: #f40;}
 .settlement_div{position: absolute;width: 100%;height: 100%;z-index: 1000;
background:rgba(0, 0, 0, 0.3);top: 0;left: 0;}

.iconfont_taobao{background: no-repeat url(http://gw.alicdn.com/tfs/TB1boCXfmCWBuNjy0FhXXb6EVXa-800-600.png);
    display: inline-block; cursor: pointer; }
 .iconfont_taobao_1{margin: -3px 6px 0 0;width: 16px; height: 16px;background-position: -20px -125px;}
 .iconfont_taobao_2{ display: inline-block;width: 5px; height: 3px;background-position: 0 -65px;position: relative;left: -6px;}
 .iconfont_taobao_3{ display: inline-block;width: 57px; height: 25px;line-height: 25px;
padding: 0 0 0 11px;color: #f40;background-position: -20px -75px;
}




 .iconfont_gif{background: no-repeat url(//gtd.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif); display: inline-block; 
    cursor: pointer;position: relative;top: -3px;margin: 0 5px;
}
.iconfont_gif_1{    background-position: -80px 0;width: 20px;height: 20px;}
        #shopcar_goods_lilist .Basic_information{display: flex;align-items: center;
        padding: 20px 0 20px 10px;font-size: 12px;}
        #shopcar_goods_lilist .Basic_information li{margin: 0 2px;height: 15px;line-height: 15px;}
        #shopcar_goods_lilist .radius  p:nth-child(1) {display: inline-block;    width: 15px;    line-height: 200em; overflow: hidden;
cursor: pointer; height: 15px;background: no-repeat url(http://gw.alicdn.com/tfs/TB1boCXfmCWBuNjy0FhXXb6EVXa-800-600.png);
    }
        #shopcar_goods_lilist .goods_choose{width:100px;}
        #shopcar_goods_lilist .goods_name{width:342px;}
        #shopcar_goods_lilist .goods_class{width:212px;}
        #shopcar_goods_lilist .goods_price{width:130px;}
        #shopcar_goods_lilist .goods_number{width:120px;}
        #shopcar_goods_lilist .goods_money{width:140px;}
        #shopcar_goods_lilist .operation{width:120px;}
        #shopcar_goods_lilist .goods_li{display: flex;align-items: center;
        padding: 20px 0 20px 12px;font-size: 12px;border: 1px solid #ccc;background: #fafafa;}
        #shopcar_goods_lilist .goods_li > li{margin: 0 2px;}
        .radius_goods_store{display: flex;align-content: center;font-size: 12px;height: 20px;
        margin-left: 12px;}
       .shop_goods_li li{margin-bottom: 16px;}

        .radius{position: relative;top:2px;left: 0;}
        .radius_goods_store p:nth-child(2){margin-left: 5px;}
        .radius_goods_store p:last-child > span{display: flex;justify-content: space-between;align-items: center;
        position: relative;top: -5px;}
        .discount_div{height: 38px;padding: 0 9px; border: 1px solid #ccc;border-bottom: none;
        display: flex;flex-wrap: wrap;align-content: center;font-size: 12px;}
        .discount_div p:nth-child(1){margin:0 20px;height: 22px;background: #ccc;line-height: 22px;padding: 0 6px;}
        .discount_div p:nth-child(2){height: 22px;line-height: 22px;}
         .goods_li:hover .operation_span {display: block}
         .goods_li li:nth-child(1) > p{height: 88px;}
         .goods_li .radius div{height: 88px;}
         .goods_choose img{width: 80px;height: 80px;}
         .goods_div{height: 88px;}
         .goods_name  .goods_name_div{padding-right:26px;}
         .goods_name_div > p:hover{color: orange;text-decoration: underline;}
         .goods_name_div > p{margin-bottom: 35px;overflow: hidden;cursor: pointer;
        height: 32px;}
        .goods_name_div img{margin-right: 6px;cursor: pointer;}
        .goods_class_div{border: 1px dashed rgba(0, 0, 0, 0);transition: all .5s;
        color: #aaa;}
        .goods_class_div:hover{border-color: #f40;}
        .g_price_div p:nth-child(1){color: #999;text-decoration:line-through;}
        .g_price_div p:nth-child(2){font-size: 14px;font-weight: 700;}
        .goods_number_div span{display: inline-block;border: 1px solid #ccc;width: 18px;width: 18px;line-height: 18px;
        text-align: center;cursor: pointer;}
        .goods_number_div input{width: 50px;height: 16px;position: relative;top: 1px}
        .goods_money_div{color: orangered;font-size: 15px;font-weight: 700;}
        .operation_div p:hover{text-decoration: underline;color: orangered;cursor: pointer;}
        .operation_div .operation_span span{position: relative;left:6px;top: -2px;}
        .operation_div .operation_span{display: none}
        .goods_store:hover{color: orangered;text-decoration: underline;}

        .shop_goods_li > div{margin-top: 20px;}

        .Basic_information_bottom{background: #f5f5f5;margin-top: 10px;position: relative;}
        #shopcar_goods_lilist  .Basic_information_bottom .goods_choose{width: 50px;}
        #shopcar_goods_lilist  .Basic_information_bottom .goods_remove_all{width: 50px;cursor: pointer;}
        #shopcar_goods_lilist  .Basic_information_bottom .goods_clear{width: 100px;cursor: pointer;}
        #shopcar_goods_lilist  .Basic_information_bottom .goods_collection{width: 100px;cursor: pointer;}
        #shopcar_goods_lilist  .Basic_information_bottom .goods_share{width: 50px;cursor: pointer;}

        .Basic_information_bottom > li:nth-child(3) > p:hover {color: orangered;text-decoration: underline;}
        .Basic_information_bottom > li:nth-child(4) > p:hover {color: orangered;text-decoration: underline;}
        .Basic_information_bottom > li:nth-child(5) > p:hover {color: orangered;text-decoration: underline;}
        .Basic_information_bottom > li:nth-child(6) > p:hover {color: orangered;text-decoration: underline;}
        #shopcar_goods_lilist  .Basic_information_bottom .goods_amount{display: flex;justify-content: center;
        position: absolute;right: 0;  align-items: center;}
        .Basic_information_bottom .goods_amount  p{margin-left: 15px;}
        .Basic_information_bottom .goods_amount  span{font-size: 20px;color: orangered; font-weight: 700;}
        .Basic_information_bottom .goods_amount .goods_price_all{font-size: 25px;}
        .information_bottom_settlement{height: 55px;    background: #B0B0B0;cursor: pointer;position: relative;left: 2px;
       color: #fff;    font-size: 20px; border-radius: 2px;line-height: 55px;text-align: center;
       width: 119px;}

                   
.iconfont_2{    display: inline-block;
    font-size: 0;
    background: url(//img.alicdn.com/tps/i3/TB1bh5IMpXXXXacaXXXrG06ZpXX-316-272.png);
    background-repeat: no-repeat;}
    .iconfont_2_1{background-position: -213px -199px;width: 16px; height: 16px;}
    .iconfont_2_2{background-position: -83px -199px; width: 16px; height: 16px;}
    .iconfont_2_3{    background-position: -5px -113px;width: 49px;height: 16px;}
    .iconfont_2_4{    background-position: -435px -86px;width: 16px;height: 16px;}
                        .goods_host{margin-top: 100px; }
                        .goods_host .shopcarnav ul{height: 33px;text-align: center;display: flex;align-items: center;}
                        .shopcarnav ul li{font-size: 14px;border-right: 1px solid #ccc;padding: 0 10px;}
                        .shopcarnav ul li:last-child{border: none;}
                        .goods_host .div_hr_min{width: 77px;}
                        .goods_host_lilist{margin-top: 15px;position: relative;}
                        .goods_host_lilist .goods_lilist_br{display: flex;
                            flex-wrap: wrap;justify-content: space-between;
                            overflow: hidden;
                            position: relative;height: 320px;}
                        .goods_lilist_br > div{height: 317px;border: 1px solid #e5e5e5;width: 230px;
                        float: left;}
                        .goods_lilist_br img{width: 230px;height: 230px;cursor: pointer;}
                        .goods_lilist_br > div > p{font-weight: 700;color:orangered;
                        display: flex;align-items: center;padding: 2px 6px;}
                        .goods_lilist_br > div .old_price{font-size: 12px;color: #ccc;text-decoration:line-through;
                        margin-left: 15px;}
                        .goods_lilist_br > div > div{font-size: 12px;padding: 2px 6px;
                        height: 16px;overflow: hidden;margin-top: 3px;}
                        .goods_lilist_br > div > div:nth-child(3):hover{cursor: pointer;color: orange;
                        text-decoration: underline;}
                        .goods_lilist_br .iconfont_2{float: right;margin-left: 3px;cursor: pointer;}
                        .goods_host_lilist ul{position: absolute;
                        left: 0;right: 0;z-index:200;overflow: hidden;width:120px;
                    bottom: -30px;margin: 0 auto;}
                     .goods_host_lilist ul li{width: 12px; height: 12px;margin: 2px 4px;
                    background: #ccc;border-radius: 50%;float: left;cursor: pointer;}